---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Web Pibes">
<h1 class="text-white animate-blurred-fade-in">Página Del Draft</h1>
<p class="text-white animate-blurred-fade-in">Aquí haremos los sorteos correspondientes a los drafts</p>
</Layout>