---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Web Pibes">
<h1 class="text-white animate-blurred-fade-in">Página Historial</h1>

<p class="text-white animate-blurred-fade-in">Aquí irá el historial de los torneos realizados</p>
</Layout>