---
import UserCard from "../components/UserCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Web Pibes">

<div class="grid gap-10 lg:grid-cols-3">
<UserCard />
</div>
</Layout>

